<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput value="" name="player" [(ngModel)]="player" >
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="searchPAForPlayer(player)">Search</button>
</form>

<ul>
  <li *ngFor="let plateAppearance of plateAppearances">
    <div *ngIf="plateAppearance.error; else error">{{ plateAppearance.message }}</div>
    <ng-template #error>{{ plateAppearance.when }} - {{ plateAppearance.what }} {{ plateAppearance.where }}</ng-template>
  </li>
</ul>